body{
    background-color: black;
    color:white;
}
h1{
    text-align: center;
}
.color-item{
    width:20px;
    height:20px;
    border:1px solid white;
}
.table, .thead{
    border:2px solid white;
    border-radius: 5px;
}
.img{
    width:30px;
    height:30px;
}
